<!DOCTYPE html>
<html lang="en-US">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Learning how to Vue.JS</title>
		<link rel="stylesheet" href="style.css">
	</head>
	<body>

		<section class="nav-bar"></section>

		<section id="app">
			<section class="product">

				<section class="product-image-cont">
					<a class="product-image-link" :href="link" target="_blank">
						<img class="product-image" :src="image" />
					</a>	
				</section>
				<section class="product-info-cont">
					<h1 class="product-info">{{ title }}</h1>
					<span v-show="onSale" class="product-sale">On Sale</span>
					<p v-if="inventory" class="product-count">In Stock</p>
					<p v-else-if="inventory <= 10 && inventory > 0" class="product-count">Almost Sold Out</p>
					<p v-else class="product-count" :class="[ !inStock ? outOfStock : 'product-count' ]">Out of Stock</p>
					<ul class="product-detail-cont">
						<li class="product-detail" v-for="detail in details">{{ detail }}</li>
					</ul>

					<section class="variant-cont">
						<section v-for="variant in variants" 
						 :key="variant.variantId" 
						 @mouseover="updateProduct(variant.variantImage, variant.variantUrl)"
						 class="color-box"
						 :style="{ background: variant.variantColor }"
						 >
						</section>
					</section>

					<section v-for="size in sizes">
						<p class="product-size">{{ size }}</p>
					</section>

					<section class="cart-cont">
						<button @click="addToCart" 
								:disabled="!inStock"
								:class="{ disabledButton: !inStock, activeButton: inStock }">Add to Cart</button>
						<button class="remove-from-cart" @click="subtractFromCart">Remove From Cart</button>

						<section :class="{ cartClicked: cartClicked, 'cart': !cartClicked }">
							<p class="cart-count">Cart({{ cart }})</p>
						</section>
					</section>
				</section>
			</section>
		</section>

		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script src="main.js"></script>
	</body>
</html>