<!DOCTYPE html>
<html lang="en-US">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Learning how to Vue.JS</title>
		<link rel="stylesheet" href="style.css">
	</head>
	<body>

		<div class="nav-bar"></div>

		<div id="app">
			<div class="product">

				<div class="product-image-cont">
					<a :href="link" target="_blank">
						<img class="product-image" :src="image" />
					</a>	
				</div>
				<div class="product-info-cont">
					<h1 class="product-info">{{ product }}</h1>
					<span v-show="onSale" class="product-sale">On Sale</span>
					<p v-if="inventory" class="product-count">In Stock</p>
					<p v-else-if="inventory <= 10 && inventory > 0" class="product-count">Almost Sold Out</p>
					<p v-else class="product-count">Out of Stock</p>
					<ul class="product-detail-cont">
						<li class="product-detail" v-for="detail in details">{{ detail }}</li>
					</ul>

					<div v-for="variant in variants" 
						 :key="variant.variantId" 
						 @mouseover="updateProduct(variant.variantImage, variant.variantUrl)"
						 class="color-box"
						 :style="{ background: variant.variantColor }"
						 >
					</div>

					<div v-for="size in sizes">
						<p class="product-size">{{ size }}</p>
					</div>

					<button @click="addToCart">Add to Cart</button>
					<button @click="subtractFromCart">Remove From Cart</button>

					<div class="cart">
						<p>Cart({{ cart }})</p>
					</div>
				</div>
			</div>
		</div>

		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script src="main.js"></script>
	</body>
</html>