html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing:  inherit;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
	font-family: fantasy;
	font-size: 15px;
}
.nav-bar,
.site-footer {
	padding: 2em;
	background: linear-gradient(to right, teal, aqua);
}
.cart-cont,
.cart,
.cartClicked,
.product-image-link,
.product-image,
.product-sale,
.product-info-cont,
.form-sections,
.form-label,
.form-feedback {
	width: 100%;
	display: block;
}
.form-feedback-rating {
	width: 15%;
}
.product,
.cart-cont,
.product-size-cont,
.review-form {
	display: flex;
	flex-flow: row wrap;
}
.product-size-cont {
	flex-flow: row nowrap;
}
.product-sizes {
	width: calc(100% - 66%);
}
/*.product-image-cont {
	border: 1px solid grey;
}*/
.product-info {
	font-size: 2em;
}
.out-of-stock {
	text-decoration: line-through;
}
.product-detail-cont {
	list-style-type: none;
	padding: 0;
}
.cart-count,
.product-sale,
.product-count,
.product-info,
.product-detail,
.product-color,
.product-size,
.shipping {
	text-align: center;
}
.product-count {
	margin: 0;
}
.variant-cont {
	display: flex;
	justify-content: center;
}
.color-box {
	width: 2em;
	height: 2em;
	margin: calc(1em / 2);
}
.cart-cont {
	justify-content: space-around;
	padding: calc(1em / 2);
}
.cart,
.cartClicked {
	margin: calc(100% - 95%) 0;
}
.cart-count {
	margin: 0;
	padding: 1em 0;
}
.disabledButton,
.activeButton,
.cart,
.cartClicked,
.remove-from-cart {
	transition: all .3s linear;
}
.disabledButton,
.activeButton {
	padding: 1em;
	border-radius: .2em;
	border: 0;
	color: #ffffff;
	background: #ffffff;
	color: #000000;
	font-size: 1em;
	outline: none;
}
.activeButton {
	border: 1px solid teal;
}
.activeButton:hover {
	background: teal;
	color: #ffffff;
}
.disabledButton {
	background: #bdc3c7;
	border: 1px solid #bdc3c7;
}
.remove-from-cart {
	padding: 1em;
	color: #000000;
	border-radius: .2em;
	border: 1px solid #bdc3c7;
	background: #ffffff;
	font-size: 1em;
	outline: none;
}
.remove-from-cart:hover {
	background: #e74c3c;
	border: 1px solid #e74c3c;
	color: #ffffff;
}
.cartClicked {
	background: green;
	color: #ffffff;
}
.review-form {
	padding: 1em;
}
.form-feedback {
	border: 1px solid #bdc3c7;
	outline-color: teal;
}
@media screen and (min-width: 750px) {
	.product-image-cont,
	.product-info-cont {
		width: 50%;
	}
}